<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <!-- Service -->
      <service name ="Server.DatabaseHandlingService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/IDatabaseHandling"/>
          </baseAddresses>
        </host>
        <!-- Server Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="Contracts.IDatabaseHandling"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>