<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Client.DatabaseRestrictionsService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/IDatabaseRestrictions"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="netTcpBinding" contract="Contracts.IDatabaseRestrictions"/>
      </service>
    </services>
    <!-- Client Endpoints -->
    <client>
      <endpoint name="ClientEndpoint"
                address="net.tcp://localhost:8090/IDatabaseRestrictions"
                binding="netTcpBinding"
                contract="Contracts.IDatabaseRestrictions"/>
      <endpoint name="ServiceEndpoint"
                address="net.tcp://localhost:8080/IDatabaseHandling"
                binding="netTcpBinding"
                contract="Contracts.IDatabaseHandling"/>
    </client>
  </system.serviceModel>
</configuration>